<h1>Data Science Tools and Ecosystem</h1>

<h2>Author</h2>
Nafiz Ishtiaque

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List some popular languages used by Data Scientists.
- List some libraries commonly used by Data Scientists.
- List some open source tools used in Data Science.
- Demonstrate some elementary arithmetic operations performed in a Jupyter notebook.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn

|Data Science Tools|
|------------------|
|JupyterLab        |
|RStudio           |
|Git               |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335